<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_gogglesS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{8192,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{7168,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{6144,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{5120,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4096,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{8192,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{7168,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{6144,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{5120,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4096,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesS_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>upgrade_gogglesS.png</string>
            <key>size</key>
            <string>{9216,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88f68387dbbff01b39182f987fa51d27$</string>
            <key>textureFileName</key>
            <string>upgrade_gogglesS.png</string>
        </dict>
    </dict>
</plist>
