<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_gogglesSE</key>
            <dict>
                <key>frame</key>
                <string>{{9216,1024},{-1,-1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-1,-1}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
            <key>upgrade_gogglesSE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{8192,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{7168,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{6144,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{5120,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4096,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{8192,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{7168,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{6144,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{5120,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4096,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3072,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>upgrade_gogglesSE_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>upgrade_gogglesSE.png</string>
            <key>size</key>
            <string>{9216,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:178ac6929377671ee3f9b78d5bf0bc27$</string>
            <key>textureFileName</key>
            <string>upgrade_gogglesSE.png</string>
        </dict>
    </dict>
</plist>
